{:highlights [{:id #uuid "662219bc-a564-4554-b3dc-7a2d525b8e05",
               :page 20,
               :position {:bounding {:x1 382.9771423339844,
                                     :y1 41.859375,
                                     :x2 642.0919189453125,
                                     :y2 98.859375,
                                     :width 808.9999999999999,
                                     :height 606.7499999999999},
                          :rects ({:x1 382.9771423339844,
                                   :y1 41.859375,
                                   :x2 642.0919189453125,
                                   :y2 98.859375,
                                   :width 808.9999999999999,
                                   :height 606.7499999999999}),
                          :page 20},
               :content {:text "Numeric Values"},
               :properties {:color "yellow"}}],
 :extra {:page 20}}
