{:highlights [{:id #uuid "663880fb-8283-426e-ba11-ba0933cb6be6",
               :page 92,
               :position {:bounding {:x1 70.3125,
                                     :y1 998.265625,
                                     :x2 806.140625,
                                     :y2 1069.3828125,
                                     :width 1004.5440000000001,
                                     :height 1234.944},
                          :rects ({:x1 711.9140625,
                                   :y1 998.265625,
                                   :x2 724.6875,
                                   :y2 1027.765625,
                                   :width 1004.5440000000001,
                                   :height 1234.944}
                                  {:x1 711.9140625,
                                   :y1 1002.765625,
                                   :x2 724.6875,
                                   :y2 1024.015625,
                                   :width 1004.5440000000001,
                                   :height 1234.944}
                                  {:x1 695.84375,
                                   :y1 1004.6875,
                                   :x2 700.5,
                                   :y2 1034.1875,
                                   :width 1004.5440000000001,
                                   :height 1234.944}
                                  {:x1 695.84375,
                                   :y1 1009.1875,
                                   :x2 700.5,
                                   :y2 1030.4375,
                                   :width 1004.5440000000001,
                                   :height 1234.944}
                                  {:x1 734.1171875,
                                   :y1 1009.515625,
                                   :x2 766.203125,
                                   :y2 1032.015625,
                                   :width 1004.5440000000001,
                                   :height 1234.944}
                                  {:x1 782.1328125,
                                   :y1 1011.6171875,
                                   :x2 790.9375,
                                   :y2 1034.1171875,
                                   :width 1004.5440000000001,
                                   :height 1234.944}
                                  {:x1 734.1171875,
                                   :y1 1013.015625,
                                   :x2 766.203125,
                                   :y2 1028.953125,
                                   :width 1004.5440000000001,
                                   :height 1234.944}
                                  {:x1 614.875,
                                   :y1 1014.1953125,
                                   :x2 672.7190551757812,
                                   :y2 1043.6953125,
                                   :width 1004.5440000000001,
                                   :height 1234.944}
                                  {:x1 771.28125,
                                   :y1 1014.1953125,
                                   :x2 781.25,
                                   :y2 1043.6953125,
                                   :width 1004.5440000000001,
                                   :height 1234.944}
                                  {:x1 793.28125,
                                   :y1 1014.1953125,
                                   :x2 806.140625,
                                   :y2 1043.6953125,
                                   :width 1004.5440000000001,
                                   :height 1234.944}
                                  {:x1 782.1328125,
                                   :y1 1015.1171875,
                                   :x2 790.9375,
                                   :y2 1031.0546875,
                                   :width 1004.5440000000001,
                                   :height 1234.944}
                                  {:x1 690.4140625,
                                   :y1 1015.3046875,
                                   :x2 714.0703125,
                                   :y2 1044.8046875,
                                   :width 1004.5440000000001,
                                   :height 1234.944}
                                  {:x1 771.28125,
                                   :y1 1018.6953125,
                                   :x2 781.25,
                                   :y2 1039.9453125,
                                   :width 1004.5440000000001,
                                   :height 1234.944}
                                  {:x1 793.28125,
                                   :y1 1018.6953125,
                                   :x2 806.140625,
                                   :y2 1039.9453125,
                                   :width 1004.5440000000001,
                                   :height 1234.944}
                                  {:x1 672.9375,
                                   :y1 1024.0859375,
                                   :x2 714.0703125,
                                   :y2 1046.5859375,
                                   :width 1004.5440000000001,
                                   :height 1234.944}
                                  {:x1 734.1171875,
                                   :y1 1026.6796875,
                                   :x2 764.3125,
                                   :y2 1049.1796875,
                                   :width 1004.5440000000001,
                                   :height 1234.944}
                                  {:x1 672.9375,
                                   :y1 1027.5859375,
                                   :x2 688.5703125,
                                   :y2 1043.5234375,
                                   :width 1004.5440000000001,
                                   :height 1234.944}
                                  {:x1 734.1171875,
                                   :y1 1030.1796875,
                                   :x2 764.3125,
                                   :y2 1046.1171875,
                                   :width 1004.5440000000001,
                                   :height 1234.944}
                                  {:x1 81.0625,
                                   :y1 1037.1796875,
                                   :x2 96.703125,
                                   :y2 1059.6796875,
                                   :width 1004.5440000000001,
                                   :height 1234.944}
                                  {:x1 70.3125,
                                   :y1 1039.8828125,
                                   :x2 80.28125,
                                   :y2 1069.3828125,
                                   :width 1004.5440000000001,
                                   :height 1234.944}
                                  {:x1 98.7421875,
                                   :y1 1039.8828125,
                                   :x2 131.43736267089844,
                                   :y2 1069.3828125,
                                   :width 1004.5440000000001,
                                   :height 1234.944}
                                  {:x1 81.0625,
                                   :y1 1040.6796875,
                                   :x2 96.703125,
                                   :y2 1056.6171875,
                                   :width 1004.5440000000001,
                                   :height 1234.944}
                                  {:x1 70.3125,
                                   :y1 1044.3828125,
                                   :x2 80.28125,
                                   :y2 1065.6328125,
                                   :width 1004.5440000000001,
                                   :height 1234.944}
                                  {:x1 98.7421875,
                                   :y1 1044.3828125,
                                   :x2 122.3984375,
                                   :y2 1065.6328125,
                                   :width 1004.5440000000001,
                                   :height 1234.944}),
                          :page 92},
               :content {:text "UMaxw .= ∑w−1 i=0 2i =2w − 1"},
               :properties {:color "yellow"}}],
 :extra {:page 55}}
